.tituloModal {
    text-align: center;
}

.formUsuario {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.inputMdal>input,
.inputMais>input,
.inputMdal>select,
.documentoModal>input {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border: solid 0.5 var(--azulHover);
    background-color: var(--azulClaro);
}

.enderecoInputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.documentoModal .inputMais {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.btnContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.modalBtn {
    cursor: pointer;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--azulClaro);
}

.modalBtn:hover {
    background-color: var(--azulHover);
}

.modalBtn .mais {
    background-color: var(--azulHover);
}

#cancelar {
    background-color: var(--vermelho);
}

#cancelar:hover {
    background-color: var(--vermelhoHover);
}