:root{
    --azulClaro: #BACDFE;
    --azulVibrante: #0047FF;
    --azulHover: #003acd4f;
    --vermelho: #ff5b5b4f;
    --vermelhoHover: #f8000086;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}